 .container{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 80px 170px;
     }
    
    
     .wrapper{
       position: relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: column;
       width: 100%;
       max-width: 1100px;
       gap:12px;
      
     }
    
     .title{
       font-size: 80px;
       text-align: center;
       font-weight: 600;
       padding: 0px 30px;
      
     }
    
     .desc{
     font-size: 18px;
     text-align: center;
     max-width: 600px;
     }
    
     .skillscontainer{
       width: 100%;
       max-width: 1000px;
       display: flex;
        /* align-items: center; */
       margin-top: 30px;
       gap:30px;
       justify-content: center;
     }
    
     .Skill{
       width: 100%;
       max-width: 450px;
        border: 2px solid rgb(4, 77, 58);
        box-shadow: rgba(5, 248, 175, 0.075);
       border-radius: 16px;
       padding: 18px 36px;
    
     }
     .SkillTitle{
       font-size: 28px;
       font-weight: 600;
       margin-bottom: 20px;
       text-align: center;
     }
     .SkillList{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 12px;
       margin-bottom: 20px;
     }
    
     .SkillItem{
       font-size: 16px;
       font-weight: 400px;
       border: 1px solid white;
       border-radius: 12px;
       padding: 12px 16px;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 8px;
     }
    
     .SkillItem img{
       width: 24px;
      height: 24px;
     }
  
     @media(max-width:768px){
       .container{
           gap: 30px;
           margin: 50px 70px;
           align-items: start;

       }
    
       .title{
           padding: 0;
           font-size: 50px;
           font-weight: 600;
           display: flex;
           align-items: start;
    
       }
    
       .wrapper{
           gap: 50px;
           margin: 50px 70px;
           align-items: start;
           display: flex;
           flex-wrap: wrap;
       }
    
       .skillscontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
       }
    
     }
    