 .container{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 80px 170px;
     }
    
    
     .wrapper{
       position: relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: column;
       width: 100%;
       max-width: 1100px;
       gap:12px;
      
     }
    
     .title{
       font-size: 80px;
       text-align: center;
       font-weight: 600;
       padding: 0px 30px;
      
     }
    
     .desc{
     font-size: 18px;
     text-align: center;
     max-width: 600px;
     }
    
     .skillscontainer{
       width: 100%;
       max-width: 1000px;
       display: flex;
      
       margin-top: 30px;
       gap:30px;
       justify-content: center;
     }
    
     .Skill{
       width: 100%;
       max-width: 450px;
      /* border: 0.1px solid #2592da;
      box-shadow:  linear-gradient(267deg, #2592da 0.36%, #5ce123 102.6% );
        border: 0.1px solid #854CE6;*/
        /* border: 0.1px solid rgb(8, 82, 18); */
        border: 2px solid rgb(4, 77, 58);
        box-shadow: rgba(5, 248, 175, 0.075);
       /* box-shadow: rgba(63, 241, 92, 0.15) 0px 4px 24px; */
       border-radius: 16px;
       padding: 18px 36px;
    
     }
     .SkillTitle{
       font-size: 28px;
       font-weight: 600;
       margin-bottom: 20px;
       text-align: center;
     }
     .SkillList{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 12px;
       margin-bottom: 20px;
     }
    
     .SkillItem{
       font-size: 16px;
       font-weight: 400px;
       border: 1px solid white;
       border-radius: 12px;
       padding: 12px 16px;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 8px;
     }
    
     .SkillItem img{
       width: 24px;
      height: 24px;
     }
    
    
    
    
    
     @media(max-width:768px){
       .container{
           gap: 30px;
           margin: 50px 70px;
           align-items: start;

       }
    
       .title{
           padding: 0;
           font-size: 50px;
           font-weight: 600;
    
       }
    
       .wrapper{
           gap: 50px;
           margin: 50px 70px;
           align-items: start;
           display: flex;
           flex-wrap: wrap;
       }
    
       .skillscontainer{
        display: flex;
        flex-direction: column;
        gap: 30px;
       }
    
     }
    
    
    /* .services{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 80px;
      margin: 80px 170px;
    }
    
    .services-title{
      position: relative; 
    }
    
    .services-title h1{
      padding: 0px 30px;
      font-size: 80px;
      font-weight: 600;
    }
    
    .services-title img{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    
    .services-format{
      width: 419px;
      height: 280px;
      display: flex;
      flex-wrap: wrap;
       flex-direction: column; 
      justify-content: center;
      gap: 20px;
      padding: 60px;
      border-radius: 10px;
      border: 2px solid white ;
      transition: 0.4s;
      cursor: pointer;   
    }
    
    .services-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
       display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      gap: 40px;
      margin-bottom: 80px;
    }
    
    .services-container h3{
      
      font-size: 28px;
      font-weight: 600;
    }
    
    .services-format h2{
      font-size: 38px;
      font-weight: 800;
      background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6% );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .services-format p{
      color: #d4d4d4;
      font-size: 24px;
      line-height: 40px;
      max-width: 300px;
    
    }
    
    .skill-images{
      width: 50px;
      height: 50px;
    }
    
    .services-readmore{
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 20px;
    }
    
    .services-format:hover{
      border: 2px solid #ff00ff;
      background: linear-gradient(45deg, #3f0028, #582300 );
      transform: scale(1.05);
      transition: 0.4s;
    }
    
    @media(max-width: 768px){
      .services{
          align-items: start;
          gap: 70px;
          margin: 20px 70px;
      }
    
      .services-title h1{
          padding: 0;
          font-size: 50px;
    
      }
      .services-title img{
          width: 130px;
          margin-right: -20px;
      }
      .services-format{
          gap: 20px;
          padding: 32px;
      }
    
      .services-format h2{
          font-size: 28px;
      }
    
      .services-format p{
          font-size: 18px;
          line-height: 32px;
          max-width: 300px;
      }
    
      .services-readmore img{
         width: 20px; 
      }
    
      .services-container{
          grid-template-columns: 1fr 1fr;
          gap: 30px;
      }
    
      
    } 
    
    */
    
    